<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiFRertf9_7XMhR35FCKF7BSyirbSIGBw</string>
	<key>GCM_SENDER_ID</key>
	<string>535481523181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devx.healthmate</string>
	<key>PROJECT_ID</key>
	<string>healthmate-devx</string>
	<key>STORAGE_BUCKET</key>
	<string>healthmate-devx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535481523181:ios:6d32fcbdd9d113328c65e4</string>
</dict>
</plist>